<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="statics/css/styles.css">
    <title>Login</title>
</head>
<body>

<div>
    <a href="/">Home</a>
</div>


<div class="login-wrapper">

    <form action="/login" class="form" method="post">
        <h2>Login</h2>
        <div class="error_notice">
            {{ if .error }}
            {{ .error}}
            {{end}}
        </div>

        <div class="input-group">
            <input type="text" name="username" id="loginUser" required>
            <label for="loginUser">User Name</label>
        </div>

        <div class="input-group">
            <input type="password" name="password" id="password-user" required>
            <label for="password-user">Password</label>
        </div>

        <input type="submit" value="Login" class="submit-btn">
        <a href="/register" > Dont have Account</a>
    </form>

</div>
</body>
</html>
