<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="statics/css/styles.css">

    <title>Register</title>
</head>
<body>
{{ if .error }}
{{ .error}}
{{end}}

<div>
    <a href="/">Home</a>
</div>
<div>
    <a href="/login">Login</a>
</div>

<div class="login-wrapper">

    <form action="/register" class="form" method="post">
        <h2>Register</h2>

        <div class="input-group">
            <input type="text" name="username" id="username" required>
            <label for="username">User Name</label>
        </div>

        <div class="input-group">
            <input type="password" name="password" id="password" required>
            <label for="password">Password</label>
        </div>

        <div class="input-group">
            <input type="password" name="password-user" id="password-new" required>
            <label for="password-new">New Password</label>
        </div>

        <input type="submit" value="Register" class="submit-btn" >
        <a href="/login" > You have Account</a>
    </form>

</div>

</body>
</html>
